#cabecalho{
    background-color: rgb(197, 188, 177);
}

#carroselliverpool{
  max-width: 500px; 
  margin-top: 90px;  
  margin-left: 450px;
}

#carroselamborghini{
    max-width: 500px;
    margin-top: 50px;
    margin-left: 450px;
}

#carroselboeing{
    max-width: 500px;
    margin-top: 50px;
    margin-left: 450px;
}

#rodapepost{
    margin-left: 450px;
}

#rodapelamborghini{
    margin-left: 450px;
}

#rodapeboeing{
    margin-left: 450px;
}

#nome-pagina{
    margin-left: 450px;
}

#nome-pagina{
    margin-left: 450px;
}